*.class
.idea
target
.tmp
*.iml
.settings
.project
.classpath
.DS_Store

Recipe/.DS_Store
Recipe/recipe-api/.idea
Recipe/recipe-api/target
Recipe/recipe-app/.idea
Recipe/recipe-app/.vscode
Recipe/recipe-app/node_modules
Recipe/recipe-app/.DS_Store

LogAnalyser/.DS_Store
LogAnalyser/log-analyser-api/.idea
LogAnalyser/log-analyser-api/target
LogAnalyser/log-analyser-app/.idea
LogAnalyser/log-analyser-app/.vscode
LogAnalyser/log-analyser-app/node_modules
LogAnalyser/log-analyser-app/.DS_Store
